@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html.lenis,
html.lenis body {
  height: auto;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.html {}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable both-edges;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  .commit_img {
    @apply h-14 bg-[url(/imgs/self.png)] w-14 bg-cover bg-no-repeat rounded-full;
  }

  .commit_container {
    @apply flex flex-col py-12 items-center gap-8 border
  }
  .collation_container{
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    @apply grid;
  }
  .collation_elements{
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    @apply grid;
  }
  .element{
    @apply p-4 border;
  }
  .products{
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    @apply grid py-8;
  }
  .filter{
    @apply flex flex-col;
  }
  .services_container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 4rem;
    row-gap: 8rem;
    @apply w-full h-auto grid  py-24;
  }

  .hero_content {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    @apply grid;
  }

  .hero_call_to_action {
    @apply flex flex-col gap-8
  }
  h1 {
    @apply text-5xl sm:text-5xl md:text-5xl font-bold text-gray-900;
  }

  h2 {
    @apply text-4xl sm:text-5xl md:text-6xl font-semibold text-gray-900;
  }

  h3 {
    @apply text-3xl sm:text-4xl md:text-5xl font-medium text-gray-900;
  }

  h4 {
    @apply text-2xl sm:text-3xl md:text-4xl font-medium text-gray-900;
  }

  h5 {
    @apply text-xl sm:text-2xl md:text-3xl font-normal text-gray-900;
  }

  h6 {
    @apply text-lg sm:text-xl md:text-2xl font-light text-gray-900;
  }

  p{
    @apply text-lg
  }
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: Alro;
  src: url(/fonts/Quicksand_wght.ttf);
}

main {}

@layer components {}