@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar{

}

html.lenis,
html.lenis body {
  height: auto;
  overflow-y: auto;
}
*{
  box-sizing: border-box;
  margin: 0;
}
.html{

}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable both-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@layer components {
  .commit_img{
    @apply h-14 bg-[url(/imgs/self.png)] w-14 bg-cover bg-no-repeat rounded-full;
  }
  .commit_container{
    @apply flex flex-col py-12 items-center gap-8 border
  }
  .services_container{
    grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
    @apply w-full h-auto grid gap-12;
  }
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: Alro;
  src: url(/fonts/Quicksand_wght.ttf);
}
main {

}
@layer components {
}
