@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html.lenis,
html.lenis body {
  height: auto;
  overflow-y: auto;
}
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@layer components {
  .commit_img{
    @apply h-14 bg-[url(/imgs/self.png)] w-14 bg-cover bg-no-repeat rounded-full;
  }
  .commit_container{
    @apply flex flex-col px-4  py-12 items-center gap-8 border
  }
  input {
    @apply py-2 px-3 rounded-md border;
    &:focus {
      outline: none;
    }
  }
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: Alro;
  src: url(/fonts/Quicksand_wght.ttf);
}
main {
  background-image: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  scrollbar-gutter: stable both-edges;
  color: aliceblue;
  overflow-x: hidden;
}
@layer components {
}
